<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>BMI Calculator</title>
    <header>
        <h1>CECS 329 Assignment 2: Updated BMI Calculator</h1>
    </header>
    <style>
        body {
            text-align: center;
            background-color: #de1fae0f;
            margin: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>BMI Calculator</h1>
        <form method="POST">
            <label for="weight">Weight (kg):</label>
            <input type="number" step="any" name="weight" required value="{{ weight if weight is not none else '' }}">
            
            <label for="height">Height (m):</label>
            <input type="number" step="any" name="height" required value="{{ height if height is not none else '' }}">
            
            <button type="submit">Calculate BMI</button>
        </form>
        <div class="bmi-output">
            <h2>Health Assessment</h2>
            <div class= "assesment"> 
                {% if bmi is not none %}
                    <h3>Your BMI: <span id="bmi-value">{{ bmi }}</span></h3></h2>
                    <h4>Status: <span id="bmi-status">{{ status }}</span></h3>
                    <p class="advice"><strong>Health Advice: </strong> <span id="bmi-advice">{{ advice }}</span></p>
                {% else %}
                    <p id="bmi-placeholder">Enter your details and click "Calculate" to see your health assessment.</p>
                {% endif %}
            </div>
        </div>

        
    </div>
</body>
</html>
